@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Calculator';
    src: local('Calculator'), url('../assets/fonts/Calculator.ttf');
    font-weight: normal;
    font-style: normal;
  }
}
